  header {
    border-bottom:1px black solid;
    padding:20px;
  }
  nav {
    width: 200px;
    height:600px;
    border-right:1px black solid;
    float:left;
  }
  nav ol {
    list-style: none;
  }
  article {
    float:left;
    padding:20px;
  }
  h2 {
    font-size: 30px;
  }
